<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="np.com.sagardevkota.bleserial">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="np.com.sagardevkota.bleserial.BluetoothLeService" android:enabled="true"/>

    </application>

</manifest>
